body {
  text-align: center;
  margin: 0;
}

header {
  background-color: rgb(215, 179, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
  margin-bottom: 0;
}

main h1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.foundations-header {
  margin-top: 50px;
}

[id$="-list"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0; /* override default padding settings from ul */
}

.card {
  background-color: rgb(96, 53, 137);
  width: 400px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  color: white;
}

.card h3 {
  margin: 0;
}

.card p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.card img {
  margin-bottom: 15px;
  width: 300px;
  height: 175px;
}

.card a {
  color: white;
  margin: 5px;
}
