body {
  text-align: center;
  margin: 0;
}

header {
  background-color: rgb(215, 179, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
  margin-bottom: 50px;
}

#demo-video {
  max-width: 1080px;
}

#demo-description {
  max-width: 1200px;
  place-self: center;
  font-size: larger;
  margin-top: 35px;
}
